body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #b48ed8, #6a5acd);
    margin: 0;
    padding: 0;
    color: beige;
}

h2 {
    text-align: center;
}

form {
    background-color: rgba(0,0,0,0.3);
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"],
input[type="reset"] {
    width: 48%;
    cursor: pointer;
}