body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: white;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

#message {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

#signature {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    color: #666;
}

/*Paola Escurra*/
