body {
    font-family: 'Courier New', Courier, monospace;
    margin: 40px;
    background-color: #09baeb;
}

form {
    background: #25cdf3;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #87ebfa;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #0f6d12;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

p{
   font-weight: bold;
}

button:hover {
    background-color: #85ae87;
}
